/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
/public/build
# Add any extra lines from the remote here, usually these are standard Laravel ignores
# Example:
*.log
composer.lock
npm-debug.log
.idea/
.vscode/
.vs/ 
